
.my-header {
    position: fixed !important;
    display: flex;
    background-color: aliceblue !important;
    width: 100%;
    z-index: 999;
}

.my-nav {
    background-color: aliceblue !important;
    color: black !important;
}

.my-nav-logo {
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.my-nav-logo img {
    filter: grayscale(100%);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.my-contact {
    text-align: center;
    padding: 16px 16px 70px;
}

.my-contact img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.my-contact img[title="gmail"],
.my-contact img[title="WhatsApp"] {
    width: 65px;
    height: 65px;
}


.my-nav-logo span {
    font-size: 20px;
}

.layui-nav-item a, span {
    font-weight: bold;
}

.my-content {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.layui-carousel img {
    width: 100%;
    height: 100%;
}

.my-margin8 {
    margin: 8px;
}


.my-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    border-radius: 5px !important;
    cursor: pointer;
}

.my-shop:hover {
    box-shadow: 0 0 10px #ccc;
}

.my-shop img {
    width: 100%;
    aspect-ratio: 4 / 3;
    padding-bottom: 8px;
}

.layui-fixbar img {
    width: 32px;
    height: 32px;
    margin-top: -4px;
}

.layui-fixbar img[title="gmail"],
.layui-fixbar img[title="WhatsApp"] {
    width: 35px;
    height: 35px;
}


.layui-fixbar li {
    font-size: initial;
    border-radius: 10px;
}

.layui-nav-item {
    cursor: pointer;
}

.my-about-container, .my-inquiry-container {
    padding: 16px;
}

.my-about-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}
.my-about-content .layui-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.my-about-logo {
    display: flex;
    align-items: center;
}

.my-product-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.my-product-category a {
    font-size: 16px;
    padding: 8px 8px;
}

.my-product-category a:hover {
    color: #16b777;
}

.my-product-no-data {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: gray;
}

.my-product-detail {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.my-price{
    color: #e4393c;
}

.my-margin-top16{
    margin-top: 16px;
}
a{
    cursor: pointer;
}

.my-header-carousel {
    width: 100%;
    aspect-ratio: 192 / 70;
}

.my-commodity-image-carousel {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.my-sku {
    background-color: #fafafa;
    border-radius: 5px;
    margin: 16px 0;
    padding: 0 0 16px 16px;
}

.my-sku p {
    padding: 16px 0;
}

.my-sku button {
    background-color: white;
}

.my-radio-group {
    display: flex;
    flex-wrap: wrap;
}

.my-radio {
    margin: 2px;
}

.my-flex {
    display: flex;
}

.my-flex-wrap{
    flex-wrap: wrap;
}

.my-inquiry-list {
    display: flex;
    width: calc(100% - 32px);
    height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin: 0 8px;

}

.my-inquiry-list:hover,
.my-inquiry-list:active {
    background-color: #b7b7b7;
    border-radius: 5px;
}

.my-inquiry-list+.my-inquiry-list{
    border-top: lightgray 1px solid;
}


.my-inquiry-list .info {
    height: 90px;
    margin-left: 16px
}

.my-inquiry-list .inquiry-number {
    width: 70px
}

.my-inquiry-list img {
    height: 80px;
    aspect-ratio: 4 / 3;
    border-radius: 5px
}

.my-inquiry-list p {
    margin-top: 8px;
}

.my-inquiry-list .my-inquiry-list-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

}

.my-toolbar-inquiry {
    position: relative;
    width: 100%;
    height: 100%
}

.my-toolbar-inquiry img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%)
}

.my-toolbar-inquiry span {
    position: absolute;
    top: 2px !important;
    right: 2px !important;
    font-size: 10px
}

.my-product-container{
    display: flex;
    margin: 0;
}

.navbar {
    width: 130px;
    /*background-color: #f0f0f0;*/
    position: fixed; /* 固定位置 */
    height: 100vh; /* 满高 */
    overflow-y: auto; /* 使导航栏可滚动 */
    border-right: 1px solid #f0f0f0;

}
.content {
    margin-left: 130px; /* 给正文留出导航栏的空间 */
    padding-left: 8px;
    overflow-y: auto; /* 使正文可滚动 */

}

@media screen and (max-width: 970px) {
    .my-hidde-md{
        display: none !important;
    }
    .my-show-md{
        display: block !important;
    }
}